ckan:
  lookup:
    ckan_home: /home/ckan
    src_dir: /home/ckan/src
    standard_plugins:
      - multilingual_dataset
      - multilingual_group
      - multilingual_tag
    extensions:
      datastorer:
        set_logger: true
      qa:
        branch: stable
        plugins:
          - qa
      report:
        plugins:
          - report
      archiver:
        plugins:
          - archiver
      harvest:
        plugins:
          - harvest
        options:
          mq.type: redis
      dcat:
        repourl: https://github.com/ckan/ckanext-dcat
        plugins:
          - dcat
          - dcat_rdf_harvester
      spatial:
        plugins:
          - spatial_metadata
          - spatial_query
