ckan:
  lookup:
    ckan_home: /home/ckan
    src_dir: /home/ckan/src
    extensions:
      qa:
        rev: stable
        plugins:
          - qa
      harvest:
        plugins:
          - harvest
        options:
          mq.type: redis
      dcat:
        repourl: https://github.com/ckan/ckanext-dcat
        plugins:
          - dcat
          - dcat_rdf_harvester
