{## Start with  defaults from defaults.sls ##}
{% import_yaml 'ckan/defaults.yaml' as default_settings %}

{## 
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {
          'redis_pkg': 'redis-server',
          'cron_pkg': 'cron',
          'python_dev': 'python-dev',
          'python_pip': 'python-pip',
          'postgresql_libs': 'libpq-dev',
          'libxml2_dev': 'libxml2-dev',
          'libxslt_dev': 'libxslt1-dev',
          'libffi_dev': 'libffi-dev',
          'libssl_dev': 'libssl-dev',
          'geos_dev': 'libgeos-c1',
        },
        'RedHat': {
          'redis_pkg': 'redis',
          'cron_pkg': 'cronie',
          'python_dev': 'python-devel',
          'python_pip': 'python2-pip',
          'postgresql_libs': 'postgresql94-libs',
          'postgresql_devel': 'postgresql94-devel',
          'postgresql_contrib': 'postgresql94-contrib',
          'libxml2_dev': 'libxml2-devel',
          'libxslt_dev': 'libxslt-devel',
          'libffi_dev': 'libffi-devel',
          'libssl_dev': 'openssl-devel',
          'geos_dev': 'geos-devel',
        },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('ckan:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.ckan.update(os_family_map) %}

{## Merge in template:lookup pillar ##}
{% set ckan = salt['pillar.get'](
        'ckan',
        default=default_settings.ckan,
        merge=True
    )
%}
{% set solr = salt['pillar.get'](
        'solr',
        default=default_settings.solr,
        merge=True
    )
%}

{## Custom (project) settings ##}
{% do ckan.update({
    'venv_path': ckan.ckan_home + '/venv',
    'confdir': [ckan.ckan_home, 'etc', 'ckan', 'default']|join('/')
    })
%}

{% set dist_dir = [ckan.ckan_home, 'dist']|join('/') %}
{% set solr_dist = 'solr-' + solr.release %}
{% set solr_dist_dir = [dist_dir, solr_dist]|join('/') %}

{% do solr.update({
    'base_dist_dir': dist_dir,
    'dist': solr_dist,
    'dist_dir': solr_dist_dir,
    'home': [solr_dist_dir, 'example']|join('/'),
    })
  %}

{% if grains['os_family'] == 'Debian' %}
{% set supervisor_confdir = '/etc/supervisor/conf.d' %}
{% elif grains['os_family'] == 'RedHat' %}
{% set supervisor_confdir = [ckan.ckan_home, 'etc', 'supervisor.d']|join('/') %}
{% endif %}
