{## Start with  defaults from defaults.sls ##}
{% import_yaml 'ckan/defaults.yaml' as default_settings %}

{## 
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
        'Debian': {
          'redis_pkg': 'redis-server',
        },
        'RedHat': {
          'redis_pkg': 'redis',
          'solr_home': '/opt/solr',
        },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('ckan:lookup'))
%}
{## Merge the flavor_map to the default settings ##}
{% do default_settings.ckan.update(os_family_map) %}

{## Merge in template:lookup pillar ##}
{% set ckan = salt['pillar.get'](
        'ckan',
        default=default_settings.ckan,
        merge=True
    )
%}

{## Custom (project) settings ##}
{% do ckan.update({
    'venv_path': ckan.ckan_home + '/venv',
    'confdir': [ckan.ckan_home, 'etc', 'ckan', 'default']|join('/')
    })
%}
